<h1>Facebook Page Top Shares API</h1>

<div class='container'>
  <%= form_tag("/fetcher/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %><br>

    <%= label_tag(:k, "Max posts per page:") %>
    <%= text_field_tag(:k) %><br>

    <%= label_tag(:n, "Posts to display:") %>
    <%= text_field_tag(:n) %><br>

    <%= label_tag(:token, "Page token:") %>
    <%= text_field_tag(:token) %><br>

    <%= submit_tag("Search") %>
  <% end %>
</div>